<mat-card>
    <mat-card-header>
      <mat-card-title>The Beatles - Something</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        ‘Something’ es una canción escrita por George Harrison en 1968. Se incluyó en el álbum: ‘Abbey Road‘. Fue la primera composición de George Harrison lanzada como lado A en un álbum de The Beatles.
      </p>
  
      <p>
        Hay algunas teorías sobre la inspiración detrás de "Something". Se ha sugerido que Pattie Boyd, la entonces esposa de Harrison, fue la musa detrás de la canción. Sin embargo, Harrison mencionó en una ocasión que simplemente escribió la canción mientras tocaba el piano en su casa y que no estaba pensando en nadie en particular.
      </p>
  
      <p>
        Frank Sinatra aunque predijo que el Rock no duraría ni 5 años y que era una basura también dijo de "Something" que era la mejor canción de amor jamás escrita y de hecho la cantó en sus conciertos.
      </p>
  
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4SLIdu8VGqQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BJKVglbFmkA" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <p>
        En 1957, en una edición de la revista "French magazine Western World", Sinatra fue citado diciendo: "El rock 'n' roll es la música más brutal, fea, desesperada, viciosa de algún tipo en los anales de la barbarie y la degeneración." No creía que fuera una forma de arte válida y pensaba que estaba realizado por "cretinos vestidos de payasos".
      </p>
  
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-0yp3F7wbZo" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H1EQNL_Qwb0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dKOoDBm4YR0" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xl-BNTeJXjw" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
    </mat-card-content>
  </mat-card>
  
