<mat-card>
    <mat-card-header>
      <mat-card-title>{{grupo}} - {{nombreCancion}} - {{album}} - {{anio}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="content-layout">
        <div class="text-content">
          <p>
            ‘Something’ es una canción escrita por George Harrison en 1968. Se incluyó en el álbum: ‘Abbey Road‘. Fue la primera composición de George Harrison lanzada como lado A en un álbum de The Beatles.
          </p>
      
          <p>
            Hay algunas teorías sobre la inspiración detrás de "Something". Se ha sugerido que Pattie Boyd, la entonces esposa de Harrison, fue la musa detrás de la canción. Sin embargo, Harrison mencionó en una ocasión que simplemente escribió la canción mientras tocaba el piano en su casa y que no estaba pensando en nadie en particular.
          </p>
      
          <p>
            George Harrison en una entrevista de 1996 negó haber escrito la canción para Boyd,ese año, le dijo a un periodista musical: Bueno, no, no la escribí acerca de ella. Sólo la escribí, y después alguien inventó el rumor además del video. Y lo que hicieron fue que ellos salieron y tomaron unas imágenes de Pattie y yo, Paul y Linda, Ringo y Maureen y de John y Yoko y sólo realizaron un pequeño video para que fuera algo complementario a la canción. Entonces, después todo el mundo divulgó que me había inspirado en Pattie, pero realmente, cuando la escribí, estaba pensando en como escribiria una cancion Ray Charles.
          </p>
          <p>        
            Frank Sinatra aunque predijo que el Rock no duraría ni 5 años y que era una basura también dijo de "Something" que era la mejor canción de amor jamás escrita y de hecho la cantó en sus conciertos.
          </p>
    
          <p>
            Francis Albert Sinatra (Frank Sinatra) el cantante más importante o uno de los más importantes del siglo XX se reunió con George Harrison, junto a su novia Patty.
          </p>
          <p>Frank Sinatra años antes había dado duras críticas hacia The Beatles pero se termino rindiendo ante su música o una de ellas.</p>
          <p>
            Something fue incluida en el repertorio de LA VOZ, aunque pensó que era una canción de Lennon - McCartney, pero se dió una gran sorpresa, al saber que fue George Harrison quien la compuso.
          </p>
    
          <p>
            En 1957, en una edición de la revista "French magazine Western World", Sinatra fue citado diciendo: "El rock 'n' roll es la música más brutal, fea, desesperada, viciosa de algún tipo en los anales de la barbarie y la degeneración." No creía que fuera una forma de arte válida y pensaba que estaba realizado por "cretinos vestidos de payasos".
          </p>
        </div>
        <div class="image-content">
          <img src="https://kintela.azureedge.net/assets/assets/canciones/frank_sinatra_something.jpg" alt="Frank Sinatra y la canción 'Something'">
        </div>
      </div>
     

      <div class="link-container">
        <a (click)="setVideo('https://www.youtube.com/embed/4SLIdu8VGqQ')" class="clickable-link">George Harrison</a>
        <a (click)="setVideo('https://www.youtube.com/embed/BJKVglbFmkA')" class="clickable-link">Frank Sinatra</a>
        <a (click)="setVideo('https://www.youtube.com/embed/-0yp3F7wbZo')" class="clickable-link">Elvis</a>
        <a (click)="setVideo('https://www.youtube.com/embed/H1EQNL_Qwb0')" class="clickable-link">Brian May</a>
        <a (click)="setVideo('https://www.youtube.com/embed/dKOoDBm4YR0')" class="clickable-link">Jeff Lyne, Jose Walsh & friends</a>
        <a (click)="setVideo('https://www.youtube.com/embed/Xl-BNTeJXjw')" class="clickable-link">Paul McCartney, Eric Clapton & Friends</a>
      </div>

      <div class="video-container">
        <iframe width="560" height="315" [src]="currentVideoUrl" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
    </mat-card-content>
  </mat-card>
