<mat-card>
    <mat-card-subtitle><strong>{{data.cancion.titulo}} {{data.cancion.capo}} tono: {{data.cancion.tono}}</strong></mat-card-subtitle>
    <mat-card-content>
        <pre>
    <span class="acorde">D G A7 x2</span>                                               <span class="section">Puente</span>
    <span class="section">Estribillo</span>                                              Sun, Sun, Sun…here it comes...
    <span class="acorde">D</span>                                                       Sun, Sun, Sun…here it comes...    
    Here comes the sun (do-do-do-doo)                       <span class="acorde">A7...</span>      
    <span class="acorde">G              E7</span>
    Here comes the sun, and I say                           <span class="section">Estrofa</span>
    <span class="acorde">D</span>                                                       <span class="acorde">D                         G                A7</span>         
    It's all right                                          Little darling,I feel that ice is slowly melting
    <span class="acorde">D A7</span>                                                    <span class="acorde">D                            G                        A7</span>            
                                                            Little darling,it seems like years since it’s been clear
    <span class="section">Estrofa</span>
    <span class="acorde">D                          G                      A7</span>    <span class="section">Estribillo x2</span>
    Little darling, it’s been a long, cold, lonely winter   <span class="acorde">D</span>
    <span class="acorde">D                            G                      A7</span>  It's all right
    Lttle darling, it feels like years since it’s been here
                                                            <span class="section">Fin</span>
    <span class="section">Estribillo</span>

    <span class="section">Estrofa</span>
    <span class="acorde">D                          G                   A7</span>
    Little darling, the smiles returning to the faces
    <span class="acorde">D                             G                        A7</span>
    Little darling, it seems like years since it’s been here 


        </pre>                    
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="cerrarDialogo()">Cerrar</button>
    </mat-card-actions>      
</mat-card>