<div>
    <mat-form-field appearance="fill" class="selector-categorias">
      <mat-label>Categorías</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="onCategoriaSeleccionada($event.value)">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!--<mat-form-field appearance="fill" class="selector-platos">
        <mat-label>Platos</mat-label>
        <mat-select #platosSelect>
          <mat-option *ngFor="let plato of platosFiltrados" [value]="plato.nombre" cdkDrag>
            {{ plato.nombre }}
          </mat-option>
        </mat-select>
    </mat-form-field>-->
    <mat-form-field appearance="fill">
        <mat-label>Platos</mat-label>
        <mat-select [(value)]="platoSeleccionado">
          <mat-option *ngFor="let plato of platosFiltrados" [value]="plato">{{ plato.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="agregarALista(platoSeleccionado)">Agregar Plato</button>          
</div>

<div cdkDropList class="platos-lista" (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let plato of platosAgregados" cdkDrag>{{ plato.nombre }}</div>
</div>

<div class="planificador">
    <table mat-table [dataSource]="datosTabla" class="mat-elevation-z8">
      
      <!-- Columna de Tipo (Comida/Cena) -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let elemento"> {{ elemento.tipo }} </td>
      </ng-container>
  
      <!-- Columnas de Días -->
      <ng-container matColumnDef="{{ dia }}" *ngFor="let dia of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{ dia }} </th>
        <td mat-cell *matCellDef="let elemento" cdkDropList (cdkDropListDropped)="onDrop($event, elemento, dia)">
          <div *ngFor="let plato of elemento.platos[dia]" cdkDrag>{{ plato.nombre }}</div>
        </td>
      </ng-container>
  
      <!-- Encabezado y Filas -->
      <tr mat-header-row *matHeaderRowDef="fullColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: fullColumns;"></tr>
    </table>
  </div>
  
  
  
  
  
