<div>
    <mat-form-field appearance="fill" class="selector-categorias">
      <mat-label>Categorías</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="onCategoriaSeleccionada($event.value)">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="selector-platos">
        <mat-label>Platos</mat-label>
        <mat-select [(value)]="platoSeleccionado">
          <mat-option *ngFor="let plato of platosFiltrados" [value]="plato" cdkDrag>
            {{ plato.nombre }}
          </mat-option>
        </mat-select>
    </mat-form-field>
          
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <span *ngIf="column === 'tipo'">{{ element[column] }}</span>
      <button mat-button *ngIf="column !== 'tipo' && !element[column]" (click)="seleccionarPlato(element, column)">
        Añadir
      </button>
      <span *ngIf="column !== 'tipo' && element[column]">{{ element[column].nombre }}</span>
    </mat-cell>        
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>



  
  
