.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .sidenav-container {
    flex: 1;
  }

  button {
    cursor: pointer;
  }

  .toolbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .email {
    margin-left: auto; /* This will push the email to the right */
  }

  .title {
    position: absolute; /* Positions the title absolutely within the toolbar */
    left: 50%;
    transform: translateX(-50%); /* This ensures the title is exactly in the middle */
  }
  
  