<div class="container">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        Kintela - info@kintela.es {{menuTitle}}
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav>
            <mat-nav-list (click)="snav.toggle()">
                <a mat-list-item class='nav-link' routerLink="/" (click)="changeTitle('')">
                    <mat-icon class="mat-icon-color">home</mat-icon>Home
                </a>
            </mat-nav-list>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="mat-icon-color">album</mat-icon>Música
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list (click)="snav.toggle()">
                        <a mat-list-item class='nav-link' routerLink="music/myfavoritesongs" (click)="changeTitle('Canciones en la hogera')">
                            <mat-icon class="mat-icon-color">library_music</mat-icon>Canciones en la hogera
                        </a>
                    </mat-nav-list>
                    <mat-nav-list (click)="snav.toggle()">
                        <a mat-list-item class='nav-link' routerLink="music/documentalesyseries" (click)="changeTitle('Media')">
                            <mat-icon class="mat-icon-color">movie</mat-icon>Media
                        </a>
                    </mat-nav-list>
                    <mat-nav-list (click)="snav.toggle()">
                        <a mat-list-item class='nav-link' routerLink="music/libros" (click)="changeTitle('Libros')">
                            <mat-icon class="mat-icon-color">book</mat-icon>Libros
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-nav-list (click)="snav.toggle()">
                <a mat-list-item class='nav-link' routerLink="historia" (click)="changeTitle('Historia')">
                    <mat-icon class="mat-icon-color">book</mat-icon>Historia
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>        
</div>
