  .row {
    display: flex;
    justify-content: space-around; /* Ajusta esto según prefieras */
    margin-bottom: 20px; /* Espacio entre filas */
  }
  
  mat-card {
    flex: 0 0 30%; /* Cada tarjeta ocupa el 30% del espacio */
    /* Ajusta el tamaño de las imágenes */
    img {
      width: 100%; /* Hace que la imagen sea responsiva y se ajuste al contenedor */
      height: auto;
      cursor: pointer;
    }
  }
  

  
  
  

  
  

  
  