<div class="row">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Conciertos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/menu_conciertos.jpg" (click)="abrirRuta('/music/conciertos')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Mi Hermana Corina</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/mhc.png" (click)="abrirRuta('/music/mhc')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Memorabilia</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/menu_memorabilia.jpg" (click)="abrirRuta('/music/memorabilia')">
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Media</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/menu_media.jpg" (click)="abrirRuta('/music/documentalesyseries')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Libros</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/menu_libros.jpg" (click)="abrirRuta('/music/libros')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>En la hogera</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/menu_en_la_hogera.jpg" (click)="abrirRuta('/music/myfavoritesongs')">
    </mat-card-content>
  </mat-card>
</div>






  
