<div class="row">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Conciertos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_conciertos.jpg" (click)="abrirRuta('/music/conciertos')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Mi Hermana Corina</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/mhc.png" (click)="abrirRuta('/music/mhc')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Memorabilia</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_memorabilia.jpg" (click)="abrirRuta('/music/memorabilia')">
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Media</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_media.jpg" (click)="abrirRuta('/music/documentalesyseries')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Libros</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_libros.jpg" (click)="abrirRuta('/music/libros')">
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>En la hogera</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_en_la_hogera.jpg" (click)="abrirRuta('/music/myfavoritesongs')">
    </mat-card-content>
  </mat-card>  
</div>
<div class="row">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>La Mentxu</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/lamentxu/mentxu_sin_fondo.jpg" (click)="abrirRuta('lamentxu')">
    </mat-card-content>
  </mat-card>

  <!--<mat-card>
    <mat-card-header>
      <mat-card-subtitle>Instagram</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_instagram.jpeg" (click)="abrirRuta('instagram')">
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Spotify</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_spotify.jpeg" (click)="abrirRuta('spotify')">
    </mat-card-content>
  </mat-card>-->

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Planificador Menú Semanal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://kintela.azureedge.net/assets/assets/menu_planificadorcomidas.png" (click)="abrirRuta('recetas')">
    </mat-card-content>
  </mat-card>
</div>







  
