<mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Plataforma</mat-label>
        <mat-select [(ngModel)]="plataformaSeleccionada">
            <mat-option *ngFor="let plataforma of plataformas" [value]="plataforma">
                {{ plataforma }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-accordion>         
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    Mix ({{ getVideoCountByCategory('mix') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'Mix'">
                        <app-ficha-video                        
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Rock Radikal Vasco ({{ getVideoCountByCategory('rock radikal vasco') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'Rock Radikal Vasco'">
                        <app-ficha-video
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>              
        
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      The Beatles ({{ getVideoCountByCategory('the beatles') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'the beatles'">
                        <app-ficha-video
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>        
          
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      The Rolling Stones ({{ getVideoCountByCategory('the rolling stones') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'the rolling stones'">
                        <app-ficha-video
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>       
    
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Eric Clapton ({{ getVideoCountByCategory('eric clapton') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'eric clapton'">
                        <app-ficha-video
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>       

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Festivales ({{ getVideoCountByCategory('festivales') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'festivales'">
                        <app-ficha-video
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>    
          
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Punk ({{ getVideoCountByCategory('punk') }})
                  </mat-panel-title>                        
              </mat-expansion-panel-header>
              <div class="fichas-contenedor">
                  <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                      <div *ngIf="video.categoria === 'punk'">
                        <app-ficha-video
                          [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                          [enlace]="video.enlace"
                          [texto]="video.texto">
                        </app-ficha-video>
                      </div>
                  </ng-container>
                </div>
          </mat-expansion-panel>   

          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Latinoamerica ({{ getVideoCountByCategory('latinoamerica') }})
                </mat-panel-title>                        
            </mat-expansion-panel-header>
            <div class="fichas-contenedor">
                <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                    <div *ngIf="video.categoria === 'latinoamerica'">
                      <app-ficha-video
                        [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/videos/' + video.imagen"
                        [enlace]="video.enlace"
                        [texto]="video.texto"
                        [info]="video.info">
                      </app-ficha-video>
                    </div>
                </ng-container>
              </div>
        </mat-expansion-panel>   
          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  DVDs
                </mat-panel-title>                        
            </mat-expansion-panel-header>
            <div class="fichas-contenedor">
                <ng-container *ngFor="let dvd of dvds; let i = index">
                      <app-ficha-video
                        [imagen]="'https://kintela.azureedge.net/assets/assets/memorabilia/dvds/' + dvd.imagen"
                        [texto]="dvd.grupo + ' - ' + dvd.titulo"
                        [origen]="'dvd'">
                      </app-ficha-video>
                </ng-container>
              </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Vinilos
                </mat-panel-title>                        
            </mat-expansion-panel-header>
            <div class="fichas-contenedor">
                <ng-container *ngFor="let vinilo of vinilos; let i = index">
                      <app-ficha-video
                        [imagen]="'https://kintela.azureedge.net/assets/assets/caratulas/vinilos/' + vinilo.caratula"
                        [texto]="vinilo.grupo + ' - ' + vinilo.titulo"
                        [year]="vinilo.year"
                        [origen]="'vinilo'">
                      </app-ficha-video>
                </ng-container>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>

      <mat-card-footer>
        <div *ngFor="let frase of frases" class="frase">
          {{ frase.frase }} - {{ frase.autor }}
        </div>
      </mat-card-footer>
      
</mat-card>
  
