.fichas-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
  
.ficha {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.frase {
  margin-bottom: 5px; /* Puedes ajustar este valor según tus necesidades */
}

mat-expansion-panel {
  margin-bottom: 10px; /* Ajusta este valor según tus necesidades */
}




  