<mat-card>
    <mat-card-subtitle><strong>{{data.nombreCancion}}</strong></mat-card-subtitle>
    <mat-card-content>
        <pre>
<span class="section">Estrofa</span>                                   <span class="section">Estrofa</span>                                                
<span class="acorde">G       D    FC      G </span>                   <span class="acorde">G         D FC   G </span>
Here I stand head in hand                 How could I even try
<span class="acorde">C                   F C</span>                   <span class="acorde">C           F C</span>
Turn my face to the wall                  I can never win
<span class="acorde">G         D    FC        G </span>               <span class="acorde">G       D      FC      G </span>
If she's gone I can't go on               Hearing them, seeing them
<span class="acorde">C                F C  D</span>                   <span class="acorde">C            F C  D</span>
Feeling two foot smnall                   In the state I'm in

<span class="section">Estrofa</span>                                   <span class="section">Estrofa</span>                                                 
<span class="acorde">G    D      FC     G </span>                     <span class="acorde">G          D   FC     G </span>
Everywhere people stare                   How could she say to me
<span class="acorde">C              F C</span>                        <span class="acorde">C              F C</span>
Each and every day                        Love wil find a way?
<span class="acorde">G      D       FC       G </span>                <span class="acorde">G       D       FC       G </span>
I can see them laugh at me                Gather round all you clowns
<span class="acorde">C               F C  D (c b a)</span>            <span class="acorde">C               F C  D (c b a)</span>  
And I hear them say                       Let me hear you say

<span class="section">Estribillo x2</span>                             <span class="section">Estribillo x2</span>   
<span class="acorde">G                   C              D </span>
Hey, you've got to hide your love away    <span class="section">Final</span>                                
                                          <span class="acorde">|G|D|F C|G| </span>  
                                          <span class="acorde">|C|C|F|C| </span>
                                          <span class="acorde">|G|D|F C|G| </span>                                        

    </pre>                    
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="cerrarDialogo()">Cerrar</button>
    </mat-card-actions>      
</mat-card>

