<div class="form-container" style="padding: 16px;">
    <h2>Añade una categoría</h2>
    <form [formGroup]="categoriaForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Categoría</mat-label>
        <input
          matInput
          formControlName="nombre"
          type="text"
          placeholder="Introduce el nombre de la categoría"
        />
      </mat-form-field>
      
      <div class="form-actions" style="margin-top: 16px;">
        <button mat-raised-button color="primary" (click)="guardarCategoria()" [disabled]="categoriaForm.invalid">
          Añadir
        </button>
        <button mat-raised-button (click)="onClose()">Cerrar</button>
      </div>
    </form>
  </div>
  
  
