<mat-card>
    <mat-card-subtitle><strong>{{data.cancion.titulo}} {{data.cancion.capo}} tono: {{data.cancion.tono}}</strong></mat-card-subtitle>
    <mat-card-content>
        <pre>
<span class="section">Intro</span>                            
<span class="acorde">G | D | Em | Em | C | D | G - Gadd11 | G - Gadd11 | G - Gadd11</span>

<span class="section">Estrofa</span>
<span class="acorde">G                        D/F#             Em    C                     D               G</span>
He muerto y he resucitado        con mis cenizas un árbol he plantado
<span class="acorde">    G/F#            Em                        C     D                                G - G add11x3</span>
su fruto ha dado   y desde hoy     algo ha empezado

<span class="section">Estrofa</span>
<span class="acorde">G                   D/F#              Em        C                   D                     G</span>
He roto todos mis poemas     los de tristezas y de penas
<span class="acorde">          G/F#         Em                            C     D                              G  G7</span>
y lo he pensado    y hoy sin dudar    vuelvo a tu lado

<span class="section">Estribillo</span>
<span class="acorde">C                 D                                 G                          G/F#     Em</span>
ayudame y te habré ayudado   que hoy he soñado
<span class="acorde">              C                    C/B  Am            D                       G</span>
en otra vida   en otro   mundo             pero a tu lado

<span class="section">Puente=Intro</span>


    </pre>                    
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="cerrarDialogo()">Cerrar</button>
    </mat-card-actions>      
</mat-card>



