<mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Plataforma</mat-label>
        <mat-select [(ngModel)]="plataformaSeleccionada">
            <mat-option *ngFor="let plataforma of plataformas" [value]="plataforma">
                {{ plataforma }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-list>                        
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Mix
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'Mix'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Rock Radikal Vasco
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'Rock Radikal Vasco'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>              
              
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            The Beatles
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'the beatles'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>        
                
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            The Rolling Stones
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'the rolling stones'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>       
          
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Eric Clapton
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'eric clapton'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>       

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Festivales
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'festivales'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>    
                
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Punk
                        </mat-panel-title>                        
                    </mat-expansion-panel-header>
                    <div class="fichas-contenedor">
                        <ng-container *ngFor="let video of getVideosFiltrados(); let i = index">
                            <div *ngIf="video.categoria === 'punk'">
                              <app-ficha-video
                                [imagen]="'assets/caratulas/videos/' + video.imagen"
                                [enlace]="video.enlace"
                                [texto]="video.texto">
                              </app-ficha-video>
                            </div>
                        </ng-container>
                      </div>
                </mat-expansion-panel>     

            </mat-accordion>
      </mat-list>        
    </mat-card-content>

    <mat-card-footer>
      <div class="frase">
        Eskorbuto fueron los Sex Pistols sin Malcom Mclaren. -Roberto Mosso
      </div>
      <div class="frase">
        Quieres que te cuente un cuento. No cuentes con nosotros. -Pako Eskorbuto
      </div>
    </mat-card-footer>
</mat-card>
  
