.fichas-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


  
  .ficha {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  mat-list-item {
    width: 50%; /* Esto hace que cada ficha ocupe la mitad del ancho del contenedor. */
}

.frase {
  margin-bottom: 5px; /* Puedes ajustar este valor según tus necesidades */
}



  