<mat-card>
    <mat-card-content>
        <mat-list>                        
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                          Rock Radikal Vasco
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-list class="fichas-contenedor">
                        <app-ficha-video
                        [imagen]="'assets/caratulas/videos/rock_radikal_vasco.jpg'"
                        [enlace]="'https://www.facebook.com/watch/?v=280469979672631&extid=NS-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing'"
                        [texto]="'Rock Radikal Vasco I'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/rock_radikal_vasco.jpg'"
                        [enlace]="'https://www.youtube.com/watch?v=byd0judBk9c'"
                        [texto]="'Rock Radikal Vasco II'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/rock_radikal_vasco.jpg'"
                        [enlace]="'https://www.youtube.com/watch?v=eqlsvtRzbG8'"
                        [texto]="'Rock Radikal Vasco III'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/rock_radikal_vasco.jpg'"
                        [enlace]="'https://www.youtube.com/watch?v=Rw_4XgwKksU'"
                        [texto]="'Rock Radikal Vasco IV'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/rock_radikal_vasco.jpg'"
                        [enlace]="'https://www.youtube.com/watch?v=8xyJ0xpVcz0'"
                        [texto]="'Rock Radikal Vasco V'">
                    </app-ficha-video>
                      </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Mix
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-list class="fichas-contenedor">
                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/soundbreaking.jpg'"
                          [enlace]="'https://caixaforumplus.org/v/soy-mi-musica'"
                          [texto]="'Sound Breaking'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/janis_little_girl_blue.jpg'"
                          [enlace]="'https://caixaforumplus.org/v/janis-little-girl-blue'"
                          [texto]="'Janis: Little Girl Blue'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/27_gone_too_soon.jpg'"
                          [enlace]="'https://www.netflix.com/es/title/80213148?s=a&trkid=13747225&trg=more&vlang=es&clip=81080782'"
                          [texto]="'27: Gone Too Soon'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/bowie_the_man_who_changed_the_world.jpg'"
                          [enlace]="'https://www.netflix.com/es/title/80176322?s=a&trkid=13747225&trg=more&vlang=es&clip=81494645'"
                          [texto]="'Bowie: The Man Who Changed the World'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/rolling_thunder_review.jpg'"
                          [enlace]="'https://www.netflix.com/es/title/80221016?s=a&trkid=13747225&trg=more&vlang=es&clip=81022982'"
                          [texto]="'Rolling Thunder Revue'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/i_dream_of_wires.jpg'"
                          [enlace]="'https://caixaforumplus.org/v/i-dream-of-wires'"
                          [texto]="'I Dream of Wires'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/volver_a_ser_un_niño.jpg'"
                          [enlace]="'https://play.rtve.es/v/6182863'"
                          [texto]="'Volver a ser un niño'">
                      </app-ficha-video>
                    
                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/cruce_de_caminos.jpg'"
                          [enlace]="'https://play.rtve.es/v/6905202'"
                          [texto]="'Miguel Rios-Cruce de caminos'">
                      </app-ficha-video>

                      <app-ficha-video
                        [imagen]="'assets/caratulas/videos/tiempo_de_leyenda.jpg'"
                        [enlace]="'https://play.rtve.es/v/6638540'"
                        [texto]="'Tiempo de leyenda (Camarón de la isla)'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/paco_de_lucia.jpg'"
                      [enlace]="'https://play.rtve.es/v/2418425'"
                      [texto]="'la guitarra de Paco de Lucía'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/freddie_mercury.jpeg'"
                      [enlace]="'https://play.rtve.es/v/6918647'"
                      [texto]="'Freddie Mercury. El último acto'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/antonio_vega.jpeg'"
                      [enlace]="'https://www.filmin.es/pelicula/antonio-vega-tu-voz-entre-otras-mil'"
                      [texto]="'Antonio Vega, tu voz entre otras mil'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/ecos_de_una_era.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjSp7HMxp6CAxXXQaQEHa5zCVQQtwJ6BAgMEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fecos-de-una-era%2Fumc.cmc.4hppqw2jahbin2l48gd9f16nf&usg=AOvVaw2hrT9bIGuWM8J9Y-ygel24&opi=89978449'"
                      [texto]="'Ecos de una era'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/amy.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwirhJHGx56CAxVodqQEHUMDDsUQtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Famy%2Fumc.cmc.2jhzj3f3ic3shrf0gt5450j9z&usg=AOvVaw0fqxOJT-sdFRz2XaG6qI54&opi=89978449'"
                      [texto]="'Amy'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/jimi_hendrix.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjRxv-1yJ6CAxWZTaQEHTlsA38QFnoECBAQAQ&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fjimi-hendrix%2Fumc.cmc.2ejhgak5s3zf2i5u8qb2eyx6y&usg=AOvVaw376uQo1FcnIAnCntb3wQxF&opi=89978449'"
                      [texto]="'Jimi Hendrix'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/michael_jackson.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiris-UyZ6CAxXKVKQEHWlaDQ8QtwJ6BAgJEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fmichael-jacksons-journey-from-motown-to-off-the-wall%2Fumc.cmc.1yty35824fahqfym1x9f6beyl&usg=AOvVaw1G8js4VZfnRWDtH2j7H5FR&opi=89978449'"
                      [texto]="'Michael Jackson'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/neil_young.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwirtObWyZ6CAxUTfqQEHSQ4A-QQtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fneil-young-journeys%2Fumc.cmc.1s6tv7posl29tolicf7blrp8m&usg=AOvVaw1MlLpchszZ_PwZ5Db0BbOW&opi=89978449'"
                      [texto]="'Neil Young Journeys'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/oasis.jpeg'"
                      [enlace]="'https://www.youtube.com/playlist?list=PLnnFvexl8Ac6AZUFcxdvI-GAXE_C1R_Hz'"
                      [texto]="'Oasis:Supersonic'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/jeff_beck.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjB2bisy56CAxUZRaQEHbiJAwkQtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fthe-jeff-beck-story-still-on-the-run%2Fumc.cmc.4hm4bx0m62ids7p0olfy6k7zv&usg=AOvVaw3Kn2BWy4auWq-iar5fEKPY&opi=89978449'"
                      [texto]="'The Jeff Beck Story'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/jeff_beck_live.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiI2q31zp6CAxWdV6QEHZjWDUQQtwJ6BAgMEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fjeff-beck---live-in-tokyo%2Fumc.cmc.4z8wk1t9y1hbvuucp552rttdi%3Fl%3Des&usg=AOvVaw2WaJyFRpCCkyUM6NItVS6y&opi=89978449'"
                      [texto]="'Jeff Beck Live in Tokyo'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/western_stars.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjW5azpy56CAxW0U6QEHVSyA0wQtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fwestern-stars%2Fumc.cmc.4b56borzlb0le4hleommro07r&usg=AOvVaw1ErqeY0TKPMQyq_uO4Q9NP&opi=89978449'"
                      [texto]="'Western Stars'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/kurt_cobain.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwibvoTHz56CAxUhUKQEHXbCB9IQtwJ6BAgPEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fcobain-montage-of-heck%2Fumc.cmc.6kfpwg3avmrvuv16w8gosungr&usg=AOvVaw38sAXse3qgeu69cVtZBST1&opi=89978449'"
                      [texto]="'Kurt Cobain'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/lambert_stamp.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwil8vm90J6CAxX7UKQEHTptDPsQtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Flambert--stamp%2Fumc.cmc.c9efy5r7rx7n2d8l7uyvp0ly%3Fl%3Des&usg=AOvVaw2PFh8O48b4OkZHJDAO8J0N&opi=89978449'"
                      [texto]="'Lambert & Stamp'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/acdc_live.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiFn5j40J6CAxUnVKQEHT85AXUQtwJ6BAgNEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Facdc-live-at-river-plate%2Fumc.cmc.4eol4augqp3w8wkzieg180jj5&usg=AOvVaw0BkvM28HSUHT16aDQ3LlFZ&opi=89978449'"
                      [texto]="'AC/DC'">
                      </app-ficha-video>

                      <app-ficha-video
                      [imagen]="'assets/caratulas/videos/miles_ahead.jpeg'"
                      [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjaq46F0p6CAxUEVKQEHQ2MDA0QtwJ6BAgPEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fmiles-ahead%2Fumc.cmc.5u572pown4kesqnhhjd0u3hgg&usg=AOvVaw0ZJA9B2Yg3iWWuXnaskGiu&opi=89978449'"
                      [texto]="'Miles Ahead'">
                      </app-ficha-video>

                    </mat-list>
                </mat-expansion-panel>
              
                <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    The Beatles
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="fichas-contenedor">
                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/mighty_good_the_beatles.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/81471399?s=a&trkid=13747225&trg=more&vlang=es&clip='"
                        [texto]="'Mighty Good: The Beatles'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/how_the_beatles_changed_the_world.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/80195654?s=a&trkid=13747225&trg=more&vlang=es&clip=81141331'"
                        [texto]="'How the Beatles Changed the World'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/john_lennon_love_is_all_you_need.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/70233321?s=a&trkid=13747225&trg=more&vlang=es&clip=81494586'"
                        [texto]="'John Lennon - Love Is All You Need'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/all_my_loving.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/70076332?s=a&trkid=13747225&trg=more&vlang=es&clip=81597056'"
                        [texto]="'All My Loving'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/all_together_now.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwi5zJfkxZ6CAxXWUqQEHazcDD0QFnoECA8QAQ&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fall-together-now%2Fumc.cmc.41me6g4yxgh94dpt2iu2v63iw&usg=AOvVaw3Flrq9hio8GXiJYCF-lduS&opi=89978449'"
                        [texto]="'All Together now'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/concert_for_george.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiDxPWzzJ6CAxWZfKQEHZh0CU8QtwJ6BAgNEAI&url=https%3A%2F%2Ftv.apple.com%2Fes%2Fmovie%2Fconcert-for-george%2Fumc.cmc.5k3qb4dwsqc7nfmnlzy8bctq1&usg=AOvVaw1dqMAMKurf5CDEn_VOelmZ&opi=89978449'"
                        [texto]="'Concert for George'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/the_beatles_help.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjA4MX_z56CAxWyUaQEHTP4BtgQtwJ6BAgQEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fhelp%2Fumc.cmc.3dix8n33y9glwds833f7imh2i%3Fl%3Des&usg=AOvVaw3mCZ2UTW4ZgjUTxzPJH6lO&opi=89978449'"
                        [texto]="'Help!'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/the_beatles_eight_days.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiI2qnD0p6CAxUFV6QEHfATAU8QtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fthe-beatles-eight-days-a-week---the-touring-years%2Fumc.cmc.6sxri7yo7br98f4i9w2pc9hu5&usg=AOvVaw2gWdWlLWYYXGiVDp4Mo2x2&opi=89978449'"
                        [texto]="'Eight days a week!'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/yesterday.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiLxojw056CAxXKVqQEHYqaA8wQtwJ6BAgPEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fyesterday%2Fumc.cmc.6e1v9fydp0lrsikw1jvcjcfbm&usg=AOvVaw1vChQ5Srb-3uQrB5US3Psl&opi=89978449'"
                        [texto]="'Yesterday'">
                    </app-ficha-video>

                    
                </mat-list>
                </mat-expansion-panel>
          
                <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    The Rolling Stones
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="fichas-contenedor">
                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/rolling_stone_life_and_death_of_brian_jones.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/81555057?s=a&trkid=13747225&trg=more&vlang=es&clip=81584958'"
                        [texto]="'Rolling Stone: Life and Death of Brian Jones'">
                    </app-ficha-video>
                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/keith_richards_under_the_influence.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/80066798?s=a&trkid=13747225&trg=more&vlang=es&clip=80078803'"
                        [texto]="'Keith Richards: Under the Influence'">
                    </app-ficha-video>

                    <app-ficha-video
                    [imagen]="'assets/caratulas/videos/stones_live.jpeg'"
                    [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiExcCB056CAxVfY6QEHVWbA1IQtwJ6BAgIEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fthe-rolling-stones-sweet-summer-sun-hyde-park-live%2Fumc.cmc.68qq01fj56unxsxviozpg2cja&usg=AOvVaw39PTNNDVfBr6NkChmGs0HZ&opi=89978449'"
                    [texto]="'Live at Hyde Park'">
                    </app-ficha-video>

                    <app-ficha-video
                    [imagen]="'assets/caratulas/videos/stones_crossfire.jpeg'"
                    [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwiJlKm5056CAxXRUaQEHfNFAxwQtwJ6BAgNEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Fthe-rolling-stones-crossfire-hurricane%2Fumc.cmc.a0faxt7rf50xtbl7leebv0vl&usg=AOvVaw2S5E7cqMnVw8NvsKE4P1k1&opi=89978449'"
                    [texto]="'Crossfire Hurricane'">
                    </app-ficha-video>
                </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Eric Clapton
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="fichas-contenedor">
                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/eric_clapton_the_1970s_review.jpg'"
                        [enlace]="'https://www.netflix.com/es/title/81506593?s=a&trkid=13747225&trg=more&vlang=es&clip=81583995'"
                        [texto]="'Eric Clapton - The 1970s Review'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/eric_clapton_live_at_royal.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjZzd-fzZ6CAxW7SKQEHdq6DjIQtwJ6BAgMEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Feric-clapton---slowhand-at-70-live-at-the-royal-albert-hall%2Fumc.cmc.57x7tgjvpjeesswjdj7tcfz11&usg=AOvVaw18ID8G8nCF7lPVor627UpZ&opi=89978449'"
                        [texto]="'Eric Clapton - Live at The Royal Albert Hall'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/eric_clapton_planes.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwi_qbCBzp6CAxVmVaQEHXGAC-QQtwJ6BAgOEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Feric-clapton-planes-trains-and-eric%2Fumc.cmc.1w7xc7qzk8qnkwxegc84obng3&usg=AOvVaw2uI7oF5hlS413p8caO3xll&opi=89978449'"
                        [texto]="'Eric Clapton-Planes, Trains and Eric'">
                    </app-ficha-video>

                    <app-ficha-video
                        [imagen]="'assets/caratulas/videos/eric_clapton_unplugged.jpeg'"
                        [enlace]="'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&ved=2ahUKEwjM4Le0zp6CAxXFUKQEHf-3CRoQtwJ6BAgMEAI&url=https%3A%2F%2Ftv.apple.com%2Fus%2Fmovie%2Feric-clapton-unplugged%2Fumc.cmc.1u9fzvr9nc5a18qndsigb6rd7%3Fl%3Des&usg=AOvVaw1sytk8pa4mIMl62Pv5rkmm&opi=89978449'"
                        [texto]="'Eric Clapton-Unplugged'">
                    </app-ficha-video>

                </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Festivales
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-list class="fichas-contenedor">
                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/monterey.jpg'"
                          [enlace]="'https://youtu.be/7MX2VEYpTfw?feature=shared'"
                          [texto]="'Monterey Pop Festival 1967'">
                      </app-ficha-video>

                      <app-ficha-video
                          [imagen]="'assets/caratulas/videos/woodstock.jpg'"
                          [enlace]="'https://youtu.be/1oNLLBXiZXw?feature=shared'"
                          [texto]="'Woodstock 1969'">
                      </app-ficha-video>

                      <app-ficha-video
                        [imagen]="'assets/caratulas/videos/farm_aid.jpg'"
                        [enlace]="'https://youtu.be/0nsKtSjHeF0?feature=shared'"
                        [texto]="'Farm AID 1985'">
                      </app-ficha-video>

                  </mat-list>
                  </mat-expansion-panel>
  
            </mat-accordion>
        </mat-list>
        
    </mat-card-content>

    <mat-card-footer>
      <div class="frase">
        Eskorbuto fueron los Sex Pistols sin Malcom Mclaren. -Roberto Mosso
      </div>
      <div class="frase">
        Quieres que te cuente un cuento. No cuentes con nosotros. -Pako Eskorbuto
      </div>
    </mat-card-footer>
</mat-card>
  
