/* my-band.component.css */
mat-card {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
  }
  
  mat-card-title, mat-card-subtitle {
    color: #1976d2; /* Puedes cambiar este color según tu preferencia */
  }
  
  mat-card-content {
    font-size: 16px; /* Ajusta el tamaño de la fuente según necesites */
  }
  
  .imagen-disco {
    max-width: 10%;
    height: auto;
}


  .clickable-link {
    cursor: pointer;
    text-decoration: underline; /* Esto es opcional para darle un aspecto más similar a un enlace */
    margin-right: 10px; /* Añade un margen a la derecha de cada enlace */
    margin-bottom: 10px; /* Añade un margen en la parte inferior si deseas que se envuelvan a la siguiente línea */
    display: inline-block; /* Esto asegura que el margen inferior se aplique correctamente */
  }

  .spotify-logo {
    width: 40px;
    height: 40px;
  }

  .logo-container {
    max-width: 200px; /* O el tamaño máximo que prefieras */
    margin: auto; /* Centrar el logo si es necesario */
  }
  
  .logo_mhc {
    width: 100%; /* Esto hará que la imagen sea tan ancha como su contenedor */
    height: auto; /* Esto asegura que la altura se ajuste para mantener la proporción */
  }
  
  p {
    text-align: center;
    margin: auto;
    margin: 1em auto; /* Añade espacio antes y después de cada párrafo */
    //max-width: 800px; /* O el ancho máximo que prefieras */
  }
  
  .link-container {
    text-align: center;
    margin: auto;
  }
  
  .fans {
    display: flex;
    flex-wrap: wrap; /* Las imágenes se moverán a la siguiente línea si no hay espacio */
    justify-content: space-around; /* Distribuye las imágenes uniformemente */
    align-items: flex-start; /* Alinea las imágenes en la parte superior del contenedor */
    gap: 10px; /* Esto reemplaza la necesidad de margin y agrega espacio entre las imágenes */
  }
  
  .fans img {
    max-width: 20%; /* Esto asegura que la imagen sea como máximo tan ancha como su contenedor */
    height: auto; /* Esto asegura que la altura se ajuste para mantener la proporción */
    object-fit: contain; /* Esto hace que la imagen se escale proporcionalmente dentro de su contenedor */
    cursor: pointer; /* Esto hace que el cursor cambie a una mano cuando se pasa sobre la imagen */
  }

  .imagen-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; /* Ajusta la imagen al 50% de su tamaño original */
    height: auto; /* Mantiene la proporción original */
    cursor: pointer;
  }
  
  
  

  
  