<div class="container">
    <div class="cards-container" >
        <mat-card class="card" *ngFor="let playlist of userPlaylists">
            <mat-card-header>
              <!--<div mat-card-avatar [style.background-image]="'url(' + playlist.images[0].url + ')'" matTooltip="{{ playlist.name }}"></div>-->
              <mat-card-subtitle>{{ playlist.name | truncate:20 }}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="playlist.images.length > 0" mat-card-image [src]="playlist.images[0].url" alt="{{ playlist.name }}">
            <mat-card-content>
              <p>Tracks: {{ playlist.tracks.total }}</p>
            </mat-card-content>
            <mat-card-actions>
              <a href="{{ playlist.external_urls.spotify }}" target="_blank">Abrir en Spotify</a>
            </mat-card-actions>
          </mat-card>
    </div>   
</div>
    
  
