<mat-card>
    <mat-card-subtitle><strong>{{data.cancion.titulo}} {{data.cancion.capo}} tono: {{data.cancion.tono}}</strong></mat-card-subtitle>
    <mat-card-content>
        <pre>
<span class="section">Intro</span>                                  <span class="section">Estribillo</span>      
<span class="acorde">G Am Bm G </span>                             <span class="acorde">F Em Dm C Bb C</span>
                                       Black-bird,            Fly
<span class="section">Estrofa</span>                                <span class="acorde">F Em Dm C Bb C</span>
<span class="acorde">G         Am         Bm     G </span>         Black-bird,            Fly
Blackbird singing in the dead of night <span class="acorde">D7</span>
<span class="acorde">C      Em      D  F#m    Em </span>           Into the light of a dark black night
Take this broken wings and learn to fly
<span class="acorde">D Em C Cm </span>                             <span class="section">Instrumental</span>
All your life
<span class="acorde">B          A7            D7    G </span>
You were only waiting for this moment to arise

<span class="section">Intro</span>
<span class="acorde">C Bm A7 D7 G</span>

<span class="section">Estrofa</span>
<span class="acorde">G         Am         Bm     G </span> 
Blackbird singing in the dead of night
<span class="acorde">C      Em      D  F#m    Em </span>
Take this sunken eyes and learn to see
<span class="acorde">D Em C Cm </span>
All your life
<span class="acorde">B          A7            D7    G </span>
You were only waiting for this moment to be free




    </pre>                    
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="cerrarDialogo()">Cerrar</button>
    </mat-card-actions>      
</mat-card>


