<mat-card>
    <mat-card-header>
      <mat-card-title>{{grupo}} - {{nombreCancion}} - {{album}} - {{anio}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        También incluida en el álbum Abbey Road en 1969.
      </p>
  
      <p>
        Harrison dijo que la canción fue inspirada por un día soleado en Esher. Estaba sentado en su jardín cuando sintió que el sol le daba paz y felicidad. La canción fue una forma para que Harrison expresara su deseo de escapar de sus problemas y encontrar esa misma paz y felicidad.
      </p>
  
      <p>
        La canción fue inspirada y escrita en el jardín de Eric Clapton, un buen amigo de Harrison. George decidió tomar un día libre de las sesiones de grabación de Apple y visitó a Clapton. Mientras caminaba por el jardín con una guitarra acústica, la canción comenzó a formarse. La letra refleja el alivio de Harrison por el advenimiento de la primavera y el alejamiento de un largo y frío invierno, tanto literal como metafóricamente hablando (refiriéndose a las tensiones dentro de la banda y los asuntos de negocios).
      </p>
  
      <p>
        La canción destaca por su uso de un sintetizador Moog, uno de los primeros usos de este instrumento en la música pop.
      </p>

      <div class="link-container">
        <a (click)="setVideo('https://www.youtube.com/embed/TmBTYK7XZQk')" class="clickable-link">The Beatles</a>
      </div>

      <div class="video-container">
        <iframe width="560" height="315" [src]="currentVideoUrl" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>
  
      <!--<div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TmBTYK7XZQk" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </div>-->
    </mat-card-content>
  </mat-card>
  
