.album-art {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container {
    display: flex;
    flex-direction: row;
  }
  
  .row {
    display: flex;
    margin-bottom: 20px; /* Espacio entre las filas */
  }
  
  .column {
    flex: 1; /* Los elementos de la columna se expandirán uniformemente */
    padding: 10px; /* Espaciado alrededor de las columnas */
  }
  
  .table-column {
    margin-right: 20px; /* Espacio entre la tabla y la columna de la letra */
  }

  /*.video-container {
    margin-top: 20px; 
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }*/

 
  

  .clickable-row {
    cursor: pointer;
  }
  
  .clickable-row:hover {
    background-color: #f0f0f0; /* Color de fondo claro para la interacción hover */
  }  

  .lyrics-video-column mat-card {
    margin-bottom: 20px;
  }
  

  .mat-card-content pre {
    white-space: pre-wrap; /* Respeta los saltos de línea y los espacios */
    word-wrap: break-word; /* Asegura que las palabras largas no desborden el contenedor */
  }
  
  
  
  
  