/* En ficha-receta.component.scss */
.ficha-layout {
    display: flex;
    gap: 8px; /* Añade espacio entre las columnas */
  }
  
  .ficha-columna:first-child {
    flex: 0 0 auto; /* No crece, no se encoge, tamaño del contenido */
    /* Asegúrate de que no haya márgenes adicionales que puedan afectar */
    margin-right: 8px; /* O ajusta según sea necesario */
  }
  
  .ficha-columna:last-child {
    flex: 1; /* Ocupa el espacio restante */
  }
  
  .plato-imagen {
    width: 100%; /* Ajusta al contenedor */
    max-width: 300px; /* O el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción */
    object-fit: cover;
    border: 2px solid black; /* Borde negro */
  }
  
  