<div class="content-container">
    <div class="logo-container">
        <img src="assets/lamentxu/portada_cuento_la_mentxu.jpg" alt="la mentxu" class="logo_mentxu">
    </div>
    <div class="text-container">
        <div>
        <p>Allá por el 2011 con mi hija de 3 recordandome cada dia la felicidad que da la inocencia y viendo como cuando se acercaban las fiestas de Santurtzi la ilusión por ver a la mentxu iluminaba su rostro y el de todos los niños del pueblo, decidí emprender la maravilosa aventura de crear un pequeño universo alrededor de esta figura tan emblemática para todos los santurtziarras que sin embargo se quedaba simplemente en una maskota mas de las que salen en fiestas y hasta el año que viene... </p>
    
        <p>Pero que pasa durante el resto del año con mentxu? </p>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>Aquí un pequeño adelanto</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Erase un vez...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/cuento_1.jpg" (click)="openImageViewer('assets/lamentxu/cuento_1.jpg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Que ricas las sardinas..</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/cuento_2.jpg" (click)="openImageViewer('assets/lamentxu/cuento_2.jpg')">
                        </mat-card-content>                
                    </mat-card>                           
                </div>            
            </mat-expansion-panel>
        </mat-accordion>
        
        <p>Si te apetece descubrirlo tendrás que conseguir el cuento donde te lo explicamos todo</p>
                
        <p>Si te interesa de verdad ponte en contacto conmigo e igual podemos hacer algo. Ningún niño deberiá quedarse sin saber que pasa con su amiga</p>
        
        <p class="clearfix">Para que este cuento viera la luz hubo muchas noches en vela dandole vueltas a la trama y entre <strong>Iñaki Berriatua</strong> y yo (ambos Santurtziarras de pro) y amantes de la mentxu, conseguimos dar forma a una preciosa historia que logramos contagiar a <strong>Arturo Delgado</strong> y a <strong>Eneko Aristi</strong>, compañeros del curro para que nos echaran una mano.</p>

        <p>Pudimos presentarla hasta en la tele...<a href="https://www.youtube.com/watch?v=o51kZOahfio" target="_blank">Entrevista en Tele 7</a></p>

        <p>Mentxu nace allá por los 90 de la mano de un par de gaupaseros de la comisión de fiestas liderados por el capitán <strong>Carlos Morán</strong> y año tras año fue convirtiendose en la figura indiscutible de nuestras fiestas</p>

        <p>Para los que aun no sepais de quien estamos hablando...<a href="https://www.youtube.com/watch?v=baxLZt5-6fI" target="_blank">La Mentxu</a> y más <a href="https://www.youtube.com/watch?v=UPj3D5bdn0I" target="_blank">La Mentxu</a></p>
        
        <p>Pero a esta historia habia que ponerle imagenes y de eso se encargó el inmenso artista <strong>Alberto Padierna</strong>  que puso todo su talento al servicio de nuestra aventurera</p>
                    
        <p>Por que para los mas peques y no tan peques, las fiestas no empiezan hasta que ella nos lo marca desde el tejado del ayuntamiento <a href="https://www.youtube.com/watch?v=wYbt3Qn9RVo" target="_blank">Recibimiento</a></p>
                
        <p>Pero una vez que teniamos un cuento, por que no hacerle una canción como se merece y esta fue otra grandisima aventura donde colaboraron desinteresadamente una cantidad enorme de artistas vascos entre los que destaca por encima de todo <strong>Gari</strong></p>
        
        <p>Sin el esto nunca habria sido posible ya que puso a mi disposición toda su agenda para meter en el ajo a <strong>Inés Osinaga</strong> de <strong>Gose</strong>, a otro ilustre Santurtziarra como es <strong>Roberto Moso (Zarama)</strong>, a varios colegas del <strong>Menton de Fogarty</strong>, a <strong>Juan Escribano</strong>  y a los mejores alumnos en aquel momento de <strong>Mr Jam</strong>, al batera <strong>Iván Román</strong> y al bajista <strong>Jon Ander Amigo</strong>  hoy consagrados musicos de nivelazo</p>

        <p>Una vez que yo como alumo de la escuela Mr Jam y con la ayuda del incomnensurable compositor <strong>Jose Luis Canal</strong> dimos forma al tema, la escuela puso a nuestra disposición toda lo necesario para llevar a cabo la grabación incluida, la participación de los mas peques, viviendo momentos irrepetibles</p>

        <p>Pero la mentxu canta por supuesto también en Euskera y el gran bertsolari <strong>Arkaitz Estiballes</strong> se encargó de poner letra a todo esto</p>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>En Mr Jam</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Gari dando instrucciones a Román</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/1.jpeg" (click)="openImageViewer('assets/lamentxu/1.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Iñigo Corcuera a los mandos de la mesa</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/2.jpeg" (click)="openImageViewer('assets/lamentxu/2.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Jonathan atento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/3.jpeg" (click)="openImageViewer('assets/lamentxu/3.jpeg')">
                        </mat-card-content>                
                    </mat-card>
                </div>    
                
                <div class="row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Gari dando instrucciones a Jonathan</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/4.jpeg" (click)="openImageViewer('assets/lamentxu/4.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>La txuleta...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/5.jpeg" (click)="openImageViewer('assets/lamentxu/5.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Atentos...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/6.jpeg" (click)="openImageViewer('assets/lamentxu/6.jpeg')">
                        </mat-card-content>                
                    </mat-card>
                </div>  
        
                <div class="row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Un coro de ensueño</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/7.jpeg" (click)="openImageViewer('assets/lamentxu/7.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Ha quedado genial...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/8.jpeg" (click)="openImageViewer('assets/lamentxu/8.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Are you ready?</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/18.jpeg" (click)="openImageViewer('assets/lamentxu/18.jpeg')">
                        </mat-card-content>                
                    </mat-card>
                </div>  
        
                <div class="row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Ahora los mayores...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/19.jpeg" (click)="openImageViewer('assets/lamentxu/19.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Jose Luis no lo ve claro</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/24.jpg" (click)="openImageViewer('assets/lamentxu/24.jpg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Juan trabajando</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/25.jpg" (click)="openImageViewer('assets/lamentxu/25.jpg')">
                        </mat-card-content>                
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

       <p>Pero el remate final para sacar el master se lo llevamos al gran <strong>Aitor Ariño</strong> para que en su estudio-hogar <strong>Lorentzo Records</strong> pusiera su impronta el Front man Roberto Mosso y se diera por rematada una labor extraordinaria por parte de todos</p>

        <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>En Lorentzo Records</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Tomando ideas</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/9.jpeg" (click)="openImageViewer('assets/lamentxu/9.jpeg')">
                    </mat-card-content>                
                </mat-card>
    
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Siempre presente</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/10.jpeg" (click)="openImageViewer('assets/lamentxu/10.jpeg')">
                    </mat-card-content>                
                </mat-card>
    
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Roberto dandolo todo</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/11.jpeg" (click)="openImageViewer('assets/lamentxu/11.jpeg')">
                    </mat-card-content>                
                </mat-card>
            </div>    
            
            <div class="row">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Gari supervisando</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/12.jpeg" (click)="openImageViewer('assets/lamentxu/12.jpeg')">
                    </mat-card-content>                
                </mat-card>
    
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Esta ews la buena?</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/13.jpeg" (click)="openImageViewer('assets/lamentxu/13.jpeg')">
                    </mat-card-content>                
                </mat-card>
    
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Lo esta haciendo de maravilla</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/14.jpeg" (click)="openImageViewer('assets/lamentxu/14.jpeg')">
                    </mat-card-content>                
                </mat-card>
            </div>  
    
            <div class="row">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Hay que escuchar...</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/15.jpeg" (click)="openImageViewer('assets/lamentxu/15.jpeg')">
                    </mat-card-content>                
                </mat-card>
    
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Tienes que respirar con el diafragma...</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/16.jpeg" (click)="openImageViewer('assets/lamentxu/16.jpeg')">
                    </mat-card-content>                
                </mat-card>
    
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Men txu!!!!!</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="assets/lamentxu/17.jpeg" (click)="openImageViewer('assets/lamentxu/17.jpeg')">
                    </mat-card-content>                
                </mat-card>
            </div>  
    
           
        </mat-expansion-panel>
        </mat-accordion>

        <p>Y una vez rematada la faena toca celebrarlo como Dios manda en nuestro pueblo. Con una buena jamada en este caso en el Kai Alde</p>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>Celebrandolo</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Atentos...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/22.jpeg" (click)="openImageViewer('assets/lamentxu/22.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Paga el de gafas...</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="assets/lamentxu/23.jpeg" (click)="openImageViewer('assets/lamentxu/23.jpeg')">
                        </mat-card-content>                
                    </mat-card>
        
                   
                </div>                                               
            </mat-expansion-panel>
        </mat-accordion>

        <p>Ahora solo toca que la escuches y la disafrutes cuando quieras <a href="https://open.spotify.com/intl-es/track/1uW1nkjAAic8xHw3WTWYsK?si=f2d8c0d9e25246b6" target="_blank">Badator Mentxu</a></p>

        <p>En el pueblo ya estamos esperando a que vuelve para empezar las fiestas <a href="https://www.youtube.com/watch?v=XdXZQJKdXu4" target="_blank">Badator Mentxu!!!</a></p>

        <p>Por que no hay nadie mas txula que ella <a href="https://www.youtube.com/watch?v=ibbwGG91RHM" target="_blank">Badator Mentxu!!!</a></p>

        <p>Aunque todo el mundo colaboró desinteresadamente, alguien tenia que pagar la factura al menos de la edicion de los cuentos y de esto se encargo el ayuntamiento de la mano de Carlos Morán y del entonces concejal de cultura <strong>Danel Bringas</strong> que apostaron por el proyecto y se encargaron de poner todo a nuestro alcanze para llevarlo a cabo</p>

        <a href="https://www.deia.eus/bizkaia/2011/06/29/mentxu-melodia-5535397.html" target="_blank">Deia</a>

    </div>    
    
</div>
