<form [formGroup]="recetaForm" class="flex-form">
  <div class="scroll-container">
    <div class="flex-container row">
      <div class="flex-item">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del plato</mat-label>
          <input matInput formControlName="nombre" placeholder="Introduce el nombre del plato" class="wide-input-container">
        </mat-form-field>
      </div>

      <div class="flex-item">
        <mat-form-field appearance="fill">
          <mat-label>Categorías</mat-label>
          <mat-select formControlName="categoriaId">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.categoriaId">
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-item image-upload">
        <button mat-raised-button (click)="imageInput.click()">
          Cargar Imagen
        </button>
        <input type="file" #imageInput hidden (change)="onImageSelected($event)">
        <img *ngIf="recetaForm.get('imagen').value" [src]="'https://kintela.azureedge.net/assets/assets/recetas/' + recetaForm.get('imagen').value" class="image-preview"/>
      </div>
    </div>

    <div class="flex-container row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enlace al video</mat-label>
        <input matInput formControlName="enlaceVideo" placeholder="Introduce el enlace al video">
      </mat-form-field>
    </div>
  
    <div class="flex-container row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Ingredientes</mat-label>
        <textarea matInput formControlName="ingredientes" placeholder="Introduce los ingredientes"
        rows="10"></textarea>
      </mat-form-field>
    </div>
  
    <div class="flex-container row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Preparación</mat-label>
        <textarea matInput formControlName="preparacion" placeholder="Introduce los pasos de la preparación" rows="10"></textarea>
      </mat-form-field>
    </div>
  
    <div class="flex-container row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Presentación</mat-label>
        <textarea matInput formControlName="presentacion" placeholder="Introduce la presentación del plato" rows="2"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="flex-container actions row">
    <button mat-raised-button color="primary" (click)="guardarReceta()" [disabled]="recetaForm.invalid">Guardar</button>
    <button mat-raised-button (click)="cerrarDialogo()">Cerrar</button>
  </div>
</form>
  
  
