.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Esto añade espacio entre las tarjetas */
  }
  
.card {
    margin: 5px;
    width: 300px; 
}

.card img {
    cursor: pointer; /* Cambia el cursor a mano/pointer */
    /* Otros estilos de tu imagen */
  }

  .load-more-button-container {
    margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
  }

  .encabezado-con-busqueda {
    display: flex;
    justify-content: flex-start; /* O puedes usar flex-start para alinearlos a la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 20px; /* Establece una separación fija entre elementos */
}