<div class="encabezado-con-busqueda">
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="searchText" (ngModelChange)="aplicarFiltroSearch()" placeholder="Escribe para filtrar..." />
    </mat-form-field>
    
    <h4>{{mediaFiltered.length}} coincidencias</h4>
</div>
<div class="container">
    <div class="cards-container">
        <mat-card *ngFor="let item of mediaFiltered" class="card">
            <mat-card-header>
                <mat-card-subtitle>{{ item.timestamp | date }}</mat-card-subtitle>
            </mat-card-header>
            <ng-container *ngIf="item.media_type === 'IMAGE'; else video">
                <img mat-card-image *ngIf="item.media_type === 'IMAGE'" [src]="item.media_url" alt="Imagen" matTooltip="{{item.caption}}">
            </ng-container>
            <ng-template #video>
                <img mat-card-image *ngIf="item.media_type === 'VIDEO'" [src]="item.thumbnail_url" alt="Imagen" matTooltip="{{item.caption}}">
            </ng-template>
          <mat-card-content>
          </mat-card-content>
          <mat-card-footer>
            <ng-container *ngIf="item.media_type === 'IMAGE'; else videoLink">
                <a href="{{ item.permalink }}" target="_blank">Ver foto</a>
            </ng-container>
            <ng-template #videoLink>
                <a href="{{ item.permalink }}" target="_blank">Ver video</a>
            </ng-template>              
          </mat-card-footer>
        </mat-card>    
    </div>

    <div class="load-more-button-container" *ngIf="nextPageUrl">
        <button mat-raised-button color="primary" (click)="loadMore()">Cargar más</button>
    </div>

</div>
  