<mat-card>
    <mat-card-subtitle><strong>{{data.cancion.titulo}} {{data.cancion.capo}} tono: {{data.cancion.tono}}</strong></mat-card-subtitle>
    <mat-card-content>
        <pre>
            <span class="acorde">F# D# G#</span>                              <span class="section">Puente </span>    
            <span class="section">Estrofa</span>                              <span class="acorde"> A            Amaj7            F#m A/E</span>
            <span class="acorde">C                     Cmaj7</span>           You're asking me will my love grow,
            Something in the way she moves,       <span class="acorde">D     G         A</span>
            <span class="acorde">C7                        F    F/E</span>    I don't know, I don't know.                            
            Attracts me like no other lover.      <span class="acorde">A         Amaj7              F#m A/E</span>
            <span class="acorde">D7              Dsus2    G a b g</span>      You stick around now, it may show,            
            Something in the way she woos me.     <span class="acorde">D     G        C</span>
                                                  I don't know, I don't know. 
            
            <span class="section">Estribillo</span>                            <span class="section">Guitar Solo Intro</span>
            <span class="acorde">Am                     AmMaj7</span>         <span class="section">Estrofa</span>
            I don't wanna leave her now,         <span class="acorde"> C                   Cmaj7</span>
            <span class="acorde">Am7                       D</span>           Something in the way she knows,   
            You know I believe, and how.          <span class="acorde">C7                             F F/E</span>      
            <span class="acorde">F D# G C</span>                              And all I have to do is think of her.
                                                  <span class="acorde">D7            Dsus2         G a b g</span>  
            <span class="section">Estrofa</span>                               Something in the things she shows me.
            <span class="acorde">C                     Cmaj7</span>   
            Somewhere in her smile she knows,     <span class="section">Estribillo</span>
            <span class="acorde">C7                         F    F/E</span>   <span class="acorde">Am                  Ammaj7</span>
            That I don't need no other lover.     I don't wanna leave her now,
            <span class="acorde">D                 Dsu2      G a b g</span>   <span class="acorde">Am7                D</span>
            Something in her style that shows me  You know I believe and how.   

            <span class="section">Estribillo</span>                            <span class="section">Final    </span>                      
            <span class="acorde">Am                     Ammaj7</span>         <span class="acorde">F  D# G A A   </span>   
            I don't wanna leave her now,          <span class="acorde">F D# C  </span>     
            <span class="acorde">Am7                     D</span>                          
            You know I believe, and how.       
            <span class="acorde">F D# G C </span>                               
        </pre>       
    </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="cerrarDialogo()">Cerrar</button>
      </mat-card-actions>      
  </mat-card>