<mat-card>
    <mat-card-subtitle>
        Estos son mis <strong>{{librosFiltrados.length}}</strong> libros
    </mat-card-subtitle>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="filtroBusqueda" (ngModelChange)="actualizarFiltro()" placeholder="Escribe para filtrar..." />
        </mat-form-field>
          
        <div class="fichas-contenedor">
            <ng-container *ngFor="let libro of librosFiltrados; let i = index">
                <app-ficha-libro
                    [caratula]="'assets/caratulas/libros/' + libro.caratula"
                    [enlace]="libro.enlace"
                    [titulo]="libro.titulo"
                    [depositoLegal]="libro.depositoLegal"
                    [ISBN]="libro.ISBN"
                    [autor]="libro.autor"
                    [sinopsis]="libro.sinopsis"
                    [editorial]="libro.editorial">
                </app-ficha-libro>
            </ng-container>
        </div>          
    </mat-card-content>
</mat-card>
