.clickable-link {
    cursor: pointer;
    text-decoration: underline; /* Esto es opcional para darle un aspecto más similar a un enlace */
    margin-right: 10px; /* Añade un margen a la derecha de cada enlace */
    margin-bottom: 10px; /* Añade un margen en la parte inferior si deseas que se envuelvan a la siguiente línea */
    display: inline-block; /* Esto asegura que el margen inferior se aplique correctamente */
  }

  .video-container {
    display: flex;
    justify-content: center; /* Centra el contenido en el eje horizontal */
    align-items: center; /* Centra el contenido en el eje vertical si es necesario */
  }

  .scrollable-videos {
    max-height: 150px; // La altura máxima antes de que comience a desplazar
    overflow-y: auto; // Esto añade desplazamiento vertical si el contenido excede el max-height
    display: flex;
    flex-wrap: wrap; // Esto permite que los elementos pasen a la siguiente línea
    gap: 4px; // Esto añade un pequeño espacio entre los enlaces
    align-content: flex-start; // Asegura que los contenidos se alineen al principio
  }
  
  