<mat-card>
    <mat-card-header>
      <mat-card-title>{{grupo}} - {{nombreCancion}} - {{album}} - {{anio}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        Escrita por John Lennon para el álbum Rubber Soul de 1965.
      </p>
  
      <p>
        La canción ha sido interpretada como una historia de amor fallido, una metáfora del sexo, un comentario sobre la sociedad de consumo, o una combinación de todas estas cosas.
      </p>      
    </mat-card-content>
  </mat-card>
