  <mat-card>
    <mat-card-header>
      <mat-card-title>{{grupo}} - {{nombreCancion}} - {{album}} - {{anio}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="content-layout">
        <div class="audio-file">
          <strong><a href="https://kintela.azureedge.net/assets/assets/canciones/Norwegian wood.mp3" target="_blank" class="clickable-link">Cover by Kintela feat. Pedro Boyra on Bass and choruses</a></strong>
          <mat-icon class="material-icons cursor-pointer" matTooltip="Escuchala">headset</mat-icon>
        </div>
        
        <div class="text-content">
          <p>
            Escrita por John Lennon para el álbum Rubber Soul de 1965.
          </p>
      
          <p>
            La canción ha sido interpretada como una historia de amor fallido, una metáfora del sexo, un comentario sobre la sociedad de consumo, o una combinación de todas estas cosas.
          </p>
      
      
        </div>        
      </div>
      <div class="link-container">
        <a (click)="mostrarVideo('https://www.youtube.com/embed/Y_V6y1ZCg_8?si=yISkwmhKr0chvXfw')" class="clickable-link">The Beatles</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/toJ41AjxFhw?si=ueL2673tF6vrYas0')" class="clickable-link">Buddy Rich</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/4ukrKpl1f5E?si=RmP_Relg2DAu_5Mw')" class="clickable-link">Waylon Jennings</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/AzBOeua8_ng?si=HejS8ol-N75JWyez')" class="clickable-link">Judy Collins</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/9TW8XO1DRK4?si=V0NztGQPa5KWHnCY')" class="clickable-link">Hank Williams Jr.</a>
      </div>

      
    </mat-card-content>
</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>How to play...</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-card-content>
      <div class="videos">
        <a (click)="mostrarVideo('https://www.youtube.com/embed/J8l8csTzTww?si=VxzGBp3FTtgffCgD')" class="clickable-link">Marty Music</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/qSualNx_CCc?si=K5Q7N5ScIKfbCP4s')" class="clickable-link">Andy</a>  
      </div>
      
      <div class="tablatures">
        <img class="clickable-link" src="https://kintela.azureedge.net/assets/assets/canciones/norwegian_wood.jpg" (click)="openImageViewer('https://kintela.azureedge.net/assets/assets/canciones/norwegian_wood.jpg')">
      </div>      
    </mat-card-content>
  </mat-card>
  
</mat-expansion-panel>
