.ficha {
    display: flex;
    flex-direction: row;
  }
  
  .ficha-container {
    display: flex;
    flex-direction: row;
  }
  
  .ficha-imagen {
    flex: 1;
  }

  .caratula{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 2px solid black; /* Borde negro para la imagen */
    object-fit: cover; /* Esto asegurará que la imagen cubra todo el espacio asignado sin distorsionarse */
    object-position: center; /* Centra la imagen dentro de su contenedor */
  }
  
  .ficha-contenido {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .ficha-enlace {
    flex: 1;
  }
  
  .ficha-iconos {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .material-icons {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .spotify-logo {
    width: 40px;
    height: 40px;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  
  
  