<mat-card>
    <mat-card-subtitle><strong>{{data.nombreCancion}}</strong></mat-card-subtitle>
    <mat-card-content>
        <pre>
<span class="section">Estrofa</span>                                                <span class="section">Intro instrumental x2</span>
<span class="acorde">D </span>
<span class="section">Estribillo</span>                                             <span class="section">Estribillo</span> 
I once had a girl                                       <span class="acorde">Dm                                                 G</span>
Or should I say                                         She told me she worked In the morning and started to laugh
she once had me                                         <span class="acorde">Dm                                                     Em A</span>
                                                        I told her I didn't And crawled off to sleep in the bath
<span class="acorde">D </span>
She showed me her room                                  <span class="section">Estrofa</span>   
Isn't it good                                           <span class="acorde">D </span>
Norwegian wood?                                         And when I awoke
                                                        I was alone
<span class="section">Estribillo</span>                                              This bird had flown
<span class="acorde">Dm                                           G</span>
She asked me to stay And she told me to sit anywhere    <span class="acorde">D </span>
<span class="acorde">Dm                                               Em A</span>   So I lit a fire
So I looked around And I noticed there wasn't a chair   Isn't it good 
                                                        Norwegian wood?
<span class="section">Estrofa</span>
<span class="acorde">D </span>                                                      <span class="section">Intro instrumental</span>
I sat on a rug 
biding my time
Drinking her wine

<span class="acorde">D </span>
We talked until two 
and then she said
It's time for bed

    </pre>                    
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="cerrarDialogo()">Cerrar</button>
    </mat-card-actions>      
</mat-card>
