.cursor-pointer {
    cursor: pointer;
}


.contenedor-canciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Esto agregará espacio entre los elementos de forma uniforme */
}

.contenedor-canciones app-ficha-cancion {
  flex: 0 0 25%; /* Esto hace que cada ficha ocupe el 25% del contenedor, permitiendo 4 elementos por fila */
  box-sizing: border-box;
  padding: 10px; /* Ajusta el espaciado según necesites */
}

  