 <mat-card>
    <mat-card-header>
      <mat-card-title>{{grupo}} - {{nombreCancion}} - {{album}} - {{anio}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="content-layout">
        <div class="audio-file">
          <strong><a href="https://kintela.azureedge.net/assets/assets/canciones/youve_got_to_hide.mp3" target="_blank" class="clickable-link">Cover by Kintela</a></strong>
          <mat-icon class="material-icons cursor-pointer" matTooltip="Escuchala">headset</mat-icon>
        </div>
        
        <div class="text-content">
          <p>
            La canción fue incluida en el álbum "Help!" de 1965, y también aparece en la película del mismo nombre.
          </p>
      
          <p>
            La canción tiene una letra introspectiva y se especula que refleja la frustración de Lennon con su vida en ese momento, especialmente en el contexto de su relación con su primera esposa, Cynthia. Sin embargo, también ha habido especulaciones sobre si la letra podría estar relacionada con la orientación sexual de Brian Epstein, el manager de The Beatles, aunque esta interpretación es más teórica y nunca ha sido confirmada.
          </p>

          <p>
            Muestra una clara influencia de Bob Dylan y es una de las primeras en las que participa un musico ajeno a la banda tocando la flauta al que conocio tocando en la calle y le invito a participar en la grabacion
          </p>
      
      
        </div>        
      </div>
      <div class="link-container">
        <a (click)="mostrarVideo('https://www.youtube.com/embed/k_ZDyiue-aU?si=BhYInyxHjnPG1SWT')" class="clickable-link">The Beatles</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/YTsDs4K5Kkk?si=D6yVCpyeAxGl5pKp')" class="clickable-link">Oasis</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/8Ix-cJZv5vc?si=yAhMZz_JvY42wZcN')" class="clickable-link">Eddie Vedder</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/MZFhFd3pxxs?si=cdNkowCx4p2jAlFA')" class="clickable-link">Chris Stapleton, Willie Nelson & Kris Kristofferson </a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/8SYQY3Sa014?si=gCOyJOgWsMC7rUMa')" class="clickable-link">Joe Cocker</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/rYFSKEDEeEc?si=T6R4hUNKqam_JaOv')" class="clickable-link">Blind Melon</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/sF3SZBGrX3c?si=z5AgX0ZwGdB6AurG')" class="clickable-link">Charly García</a>
        <a (click)="mostrarVideo('https://www.youtube.com/embed/I952VR0sGfE?si=-onL-dugnegY4HOE')" class="clickable-link">Chris Cornell</a>
      </div>

      
    </mat-card-content>
</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>How to play...</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-card-content>
      <div class="videos">
        <a (click)="mostrarVideo('https://www.youtube.com/embed/9YY7Z7JVMEs?si=7ZonrgCT-W50-EBs')" class="clickable-link">Marty Music</a>
      </div>
      
      <div class="tablatures">
        <!--<img class="clickable-link" src="https://kintela.azureedge.net/assets/assets/canciones/norwegian_wood.jpg" (click)="openImageViewer('https://kintela.azureedge.net/assets/assets/canciones/norwegian_wood.jpg')">-->
      </div>      
    </mat-card-content>
  </mat-card>
  
</mat-expansion-panel>

  



