<mat-card>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Guerra Civil Española
                    </mat-panel-title>                        
                </mat-expansion-panel-header>
                <div class="fichas-contenedor">
                    <ng-container *ngFor="let video of videos; let i = index">
                        <div *ngIf="video.categoria === 'guerra_civil'">
                          <app-ficha-video
                            [imagen]="'assets/caratulas/videos/' + video.imagen"
                            [enlace]="video.enlace"
                            [texto]="video.texto">
                          </app-ficha-video>
                        </div>
                    </ng-container>
                  </div>
            </mat-expansion-panel>    

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        II Guerra Mundial
                    </mat-panel-title>                        
                </mat-expansion-panel-header>
                <div class="fichas-contenedor">
                    <ng-container *ngFor="let video of videos; let i = index">
                        <div *ngIf="video.categoria === 'ii_guerra_mundial'">
                          <app-ficha-video
                            [imagen]="'assets/caratulas/videos/' + video.imagen"
                            [enlace]="video.enlace"
                            [texto]="video.texto">
                          </app-ficha-video>
                        </div>
                    </ng-container>
                  </div>
            </mat-expansion-panel>   
        </mat-accordion>
    </mat-card-content>
</mat-card>
