<div class="cabecera">
    <mat-form-field appearance="fill" class="selector-categorias">
      <mat-label>Categorías</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="onCategoriaSeleccionada($event.value)">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>    
    
    <button  mat-icon-button (click)="abrirDialogoAgregarCategoria()" color="primary" matTooltip="Agrega una categoría" class="boton-con-borde">
      <mat-icon>add</mat-icon>
    </button>
  
    <mat-form-field appearance="fill" class="selector-platos">
        <mat-label>Platos</mat-label>
        <mat-select [(value)]="platoSeleccionado">
          <mat-option *ngFor="let plato of platosFiltrados" [value]="plato">
            {{ plato.nombre }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <button  mat-icon-button (click)="abrirDialogoAgregarPlato()" color="primary" matTooltip="Agrega un plato" class="boton-con-borde">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-raised-button (click)="fileInput.click()" color="primary">
      Cargar menu
      <input type="file" (change)="cargarDataSource($event)" #fileInput hidden>
    </button>             
</div>

<!--<div class="calendario">  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'tipo'">
          {{ element[column] }}
        </ng-container>

        <ng-container *ngIf="column !== 'tipo'">
          <button mat-raised-button *ngIf="!element[column]?.primerPlato" 
            (click)="seleccionarPlato(element, column, 'primerPlato')" 
            [disabled]="!platoSeleccionado">Primero
          </button>
          <app-ficha-plato *ngIf="element[column]?.primerPlato" 
            [plato]="element[column].primerPlato" 
            [dia]="column" 
            [tipo]="element['tipo']" 
            [orden]="'primerPlato'"
            (platoParaReceta)="mostrarFichaReceta($event)" 
            (platoEliminado)="eliminarPlato($event, 'primerPlato')">
          </app-ficha-plato>

          <button mat-raised-button *ngIf="!element[column]?.segundoPlato"
            (click)="seleccionarPlato(element, column, 'segundoPlato')" 
            [disabled]="!platoSeleccionado">Segundo
          </button>
          <app-ficha-plato *ngIf="element[column]?.segundoPlato" 
            [plato]="element[column].segundoPlato" 
            [dia]="column" [tipo]="element['tipo']" 
            [orden]="'segundoPlato'"
            (platoParaReceta)="mostrarFichaReceta($event)" 
            (platoEliminado)="eliminarPlato($event, 'segundoPlato')">
          </app-ficha-plato>         
        </ng-container>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
 
  
  <button mat-raised-button  
    (click)="guardarDataSource()" 
    color="primary" 
    [disabled]="!hayDatosParaGuardar()"
    class="boton-guardar"
  >Guardar Datos
  </button>
</div>-->

<div class="calendario">  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'tipo'">
          {{ element[column] }}
        </ng-container>

        <ng-container *ngIf="column !== 'tipo'">
          <!-- Botones para la fila de comidas -->
          <ng-container *ngIf="element['tipo'] === 'Comida'">
            <button mat-raised-button *ngIf="!element[column]?.primerPlato" 
              (click)="seleccionarPlato(element, column, 'primerPlato')" 
              [disabled]="!platoSeleccionado">Primero
            </button>
            <app-ficha-plato *ngIf="element[column]?.primerPlato" 
              [plato]="element[column].primerPlato" 
              [dia]="column" 
              [tipo]="element['tipo']" 
              [orden]="'primerPlato'"
              (platoParaReceta)="mostrarFichaReceta($event)" 
              (platoEliminado)="eliminarPlato($event, 'primerPlato')">
            </app-ficha-plato>

            <button mat-raised-button *ngIf="!element[column]?.segundoPlato"
              (click)="seleccionarPlato(element, column, 'segundoPlato')" 
              [disabled]="!platoSeleccionado">Segundo
            </button>
            <app-ficha-plato *ngIf="element[column]?.segundoPlato" 
              [plato]="element[column].segundoPlato" 
              [dia]="column" [tipo]="element['tipo']" 
              [orden]="'segundoPlato'"
              (platoParaReceta)="mostrarFichaReceta($event)" 
              (platoEliminado)="eliminarPlato($event, 'segundoPlato')">
            </app-ficha-plato>         
          </ng-container>

          <!-- Botón para la fila de cenas -->
          <ng-container *ngIf="element['tipo'] === 'Cena'">
            <button mat-raised-button *ngIf="!element[column]?.platoUnico"
              (click)="seleccionarPlato(element, column, 'platoUnico')" 
              [disabled]="!platoSeleccionado">Plato Único
            </button>
            <app-ficha-plato *ngIf="element[column]?.platoUnico" 
              [plato]="element[column].platoUnico" 
              [dia]="column" 
              [tipo]="element['tipo']" 
              [orden]="'platoUnico'"
              (platoParaReceta)="mostrarFichaReceta($event)" 
              (platoEliminado)="eliminarPlato($event, 'platoUnico')">
            </app-ficha-plato>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <button mat-raised-button  
    (click)="guardarDataSource()" 
    color="primary" 
    [disabled]="!hayDatosParaGuardar()"
    class="boton-guardar"
  >Guardar Datos
  </button>
</div>


<div class="recetaYLista">
  <app-ficha-receta *ngIf="platoParaReceta" 
  [plato]="platoParaReceta"
  (listaCompra)="mostrarListaCompra($event)">  
  </app-ficha-receta>

  <app-lista-compra *ngIf="listaCompraAcumulada.length > 0"
  [listaCompra]="listaCompraAcumulada">
  </app-lista-compra> 

</div>

<app-flowisechatbot></app-flowisechatbot>








  
  
