<div class="cabecera">
    <mat-form-field appearance="fill" class="selector-categorias">
      <mat-label>Categorías</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="onCategoriaSeleccionada($event.value)">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="selector-platos">
        <mat-label>Platos</mat-label>
        <mat-select [(value)]="platoSeleccionado">
          <mat-option *ngFor="let plato of platosFiltrados" [value]="plato">
            {{ plato.nombre }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="fileInput.click()" color="primary">
      Cargar menu
      <input type="file" (change)="cargarDataSource($event)" #fileInput hidden>
    </button>   
          
</div>

<div class="calendario">  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'tipo'">{{ element[column] }}</ng-container>
        <ng-container *ngIf="column !== 'tipo'">
          <!-- Primer Plato -->
          <button mat-raised-button *ngIf="!element[column]?.primerPlato" 
            (click)="seleccionarPlato(element, column, 'primerPlato')" 
            [disabled]="!platoSeleccionado">Primero
          </button>
          <app-ficha-plato *ngIf="element[column]?.primerPlato" 
            [plato]="element[column].primerPlato" 
            [dia]="column" 
            [tipo]="element['tipo']" 
            [orden]="'primerPlato'"
            (platoParaReceta)="mostrarFichaReceta($event)" 
            (platoEliminado)="eliminarPlato($event, 'primerPlato')">
          </app-ficha-plato>
  
          <!-- Segundo Plato -->
          <button mat-raised-button *ngIf="!element[column]?.segundoPlato"
            (click)="seleccionarPlato(element, column, 'segundoPlato')" 
            [disabled]="!platoSeleccionado">Segundo
          </button>
          <app-ficha-plato *ngIf="element[column]?.segundoPlato" 
            [plato]="element[column].segundoPlato" 
            [dia]="column" [tipo]="element['tipo']" 
            [orden]="'segundoPlato'"
            (platoParaReceta)="mostrarFichaReceta($event)" 
            (platoEliminado)="eliminarPlato($event, 'segundoPlato')">
          </app-ficha-plato>
  
          <!-- Postre -->
          <button mat-raised-button *ngIf="!element[column]?.postre" 
            (click)="seleccionarPlato(element, column, 'postre')" 
            [disabled]="!platoSeleccionado">Postre
          </button>
          <app-ficha-plato *ngIf="element[column]?.postre" 
            [plato]="element[column].postre" 
            [dia]="column" 
            [tipo]="element['tipo']" 
            [orden]="'postre'"
            (platoParaReceta)="mostrarFichaReceta($event)" 
            (platoEliminado)="eliminarPlato($event, 'postre')">
          </app-ficha-plato>
        </ng-container>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  
  <button mat-raised-button  
    (click)="guardarDataSource()" 
    color="primary" 
    [disabled]="!hayDatosParaGuardar()"
    class="boton-guardar"
  >Guardar Datos
  </button>
</div>

<div class="recetaYLista">
  <app-ficha-receta *ngIf="platoParaReceta" 
  [plato]="platoParaReceta"
  (listaCompra)="mostrarListaCompra($event)">  
  </app-ficha-receta>

  <app-lista-compra *ngIf="listaCompraAcumulada.length > 0"
  [listaCompra]="listaCompraAcumulada">
  </app-lista-compra> 

</div>







  
  
