/* En tu archivo CSS global o de componente */
mat-form-field {
    width: 50px; /* O el tamaño que prefieras */
  }

  .lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; // Ajusta el margen como prefieras
  
    .ingrediente {
      flex-grow: 1;
    }
  
    .acciones {
      display: flex;
      align-items: center;
  
      .cantidad {
        width: 80px; // Ajusta según sea necesario
      }
  
      button {
        margin-left: 8px; // Ajusta según sea necesario
      }
    }
  }
  
  