<div class="encabezado-con-busqueda">
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Escribe para filtrar..." />
    </mat-form-field>
    
    <h4>{{filteredMemorabilias.length}} coincidencias</h4>
</div>


<div class="container">
    <mat-card *ngFor="let memorabilia of filteredMemorabilias" class="card">
      <mat-card-header>
        <mat-card-subtitle>{{ memorabilia.titulo }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/memorabilia/{{ memorabilia.imagen }}" alt="{{ memorabilia.titulo }}">
      <mat-card-content>
        <p>{{ memorabilia.descripcion }}</p>
      </mat-card-content>
    </mat-card>
</div>
  
