<mat-card>
    <mat-card-header>
      <mat-card-title>{{nombreCancion}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        La canción fue publicada en 1991 y rápidamente se convirtió en un clásico del repertorio de la banda.
      </p>
  
      <p>
        La canción se incluyó en su álbum "Adiós tristeza" de 1991. Se convirtió en uno de sus mayores éxitos.
      </p>
  
      <p>
        Es una balada romántica que habla sobre el amor, la añoranza y el deseo de estar junto a una persona especial.
      </p>
      
    </mat-card-content>
  </mat-card>
