<mat-card>
    <mat-card-header>
      <mat-card-title>{{nombreCancion}}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        Se encuentra en el álbum "The Beatles", comúnmente conocido como "The White Album", lanzado en 1968
      </p>
  
      <p>
        Aunque a primera vista "Blackbird" puede parecer una canción simple sobre un pájaro, McCartney ha explicado que fue escrita en respuesta a la lucha por los derechos civiles en los Estados Unidos durante la década de 1960. El "blackbird" (pájaro negro) simboliza a la comunidad afroamericana y su lucha por la libertad y la igualdad. Las letras "Take these broken wings and learn to fly" y "You were only waiting for this moment to arise" reflejan temas de esperanza y emancipación.
      </p>
  
      
    </mat-card-content>
  </mat-card>
  

